<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="MuseumConn" connectionString="Data Source=DESKTOP-MVUMG5T;Initial Catalog=Museum;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="MuseumGuideProject.Properties.Settings.MuseumConnectionString"
            connectionString="Data Source=DESKTOP-MVUMG5T;Initial Catalog=Museum;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>